:root {
    --primaryColor: #29299C;
    --primaryColorHover: #171756;
    --secondaryColor: #f5870a;
    --borderRadius: 5px;
    --flexGap: 10px;
}

* {
    font-family: "Roboto", sans-serif;
}

body {
    margin: 0;
}

.navLogo {
    width: 100px;
}

ul {
    padding: 0;
    margin: 0;

    list-style: none;
    cursor: pointer;

    display: flex;
    gap: var(--flexGap);

    white-space: nowrap;
}

.navFlex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.languageAndCurrencyAndButtons {
    display: flex;
    gap: var(--flexGap);
}

select {
    padding: 8px;

    font-size: 16px;

    border: 1px solid #ccc;
    border-radius: var(--borderRadius);
}

select:focus {
    border-color: var(--primaryColor);
    outline: none;
}

button {
    padding: 8px 16px;
    background-color: var(--primaryColor);
    color: white;
    font-size: 16px;

    cursor: pointer;
    transition: background-color 0.3s ease;

    border: none;
    border-radius: var(--borderRadius);
}

button:hover {
    background-color: var(--primaryColorHover);
    animation: bounce 0.5s;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-5px);
    }

    100% {
        transform: translateY(0);
    }
}

.mainLinks {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainLinks ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.mainLinks li {
    margin-right: 20px;
    font-size: 18px;
    cursor: pointer;
    position: relative;
    padding-bottom: 5px;
    transition: color 0.3s ease;
}

.mainLinks li::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--primaryColor);
    transition: width 0.3s ease;
}

.mainLinks li:hover {
    color: var(--primaryColor);
    animation: bounceTwo 0.5s;
}

.mainLinks li:hover::after {
    width: 100%;
}

@keyframes bounceTwo {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-5px);
    }

    100% {
        transform: translateY(0);
    }
}

a {
    outline: none;
    text-decoration: none;
    color: inherit;
}

nav i {
    display: none;
}

.navFlex i {
    display: none;
}

@media (max-width: 768px) {
    .navFlex ul {
        display: none;
    }

    .navFlex select,
    .navFlex button {
        display: none;
    }

    .navFlex i {
        display: block;
    }

    .navFlex {
        margin-right: 20px;
    }
}

.mobileListOfLinks {
    background-color: var(--primaryColor);
    width: 100%;
    height: 50vh;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    animation: slideIn 0.5s ease-in-out forwards;
}

.mobileListOfLinks i {
    position: absolute;
    top: 40px;
    right: 20px;
    animation: fadeIn 0.5s ease-in-out forwards;
}

.mobileListOfLinks .mainLinks {
    position: absolute;
    width: 90%;
    height: 50%;
    margin-top: 100px;
    animation: slideUp 0.5s ease-in-out forwards;
}

.mobileListOfLinks .mainLinks ul {
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mobileListOfLinks .mainLinks ul li {
    font-size: 35px;
    font-weight: 700;
    padding-left: 30px;
    line-height: 50px;
    opacity: 0;
    animation: fadeInUp 0.5s ease-in-out forwards;
    animation-delay: 0.3s;
}

.mobileListOfLinks .mainLinks ul li:hover {
    color: white;
}

@keyframes slideIn {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes slideUp {
    0% {
        transform: translateY(50%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.hero h1 {
    color: var(--primaryColor);
    text-align: center;
    font-size: 40px;
    margin-block: 0;
}

.hero h1:first-child {
    margin-top: 40px;
}

.hero img {
    margin-inline: auto;
    width: 100%;
}

section.filter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 3px solid var(--primaryColor);
    border-radius: 30px;
    margin-top: 30px;
}

.classes {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
}

.classes h3 {
    text-decoration: underline;
    cursor: pointer;
    color: var(--primaryColorHover);
}

h3.mainClass {
    background-color: var(--primaryColor);
    padding: 10px 20px;
    color: white;
    border-radius: 20px;
    text-decoration: none;
}

.filterProperties {
    display: flex;
    align-items: center;
    margin-left: 30px;
    gap: 20px;
}

.textNearOfImageFilter h2, .textNearOfImageFilter p {
    margin: 0;
}

.filterItems {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    margin-top: 20px;
}

.descOfFlight {
    display: flex;
    align-items: center;
}

.descOfFlight h4 {
    margin: 10px 0 0 20px;
}

.descOfFlight p {
    margin: 10px 0 0 20px;
}

.flights {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
    flex-wrap: wrap;
    gap: 50px;
}

.textWhyChooseUs .num {
    background-color: var(--primaryColor);
    width: fit-content;
    color: white;
    padding: 10px;
    border-radius: 90px;
    margin-top: 50px;
}

.textWhyChooseUs .title {
    margin: 20px 0 0 0;
    width: 500px;
    font-size: 30px;
}

.textWhyChooseUs .para {
    margin: 10px 0 0 0;
    width: 600px;
    font-size: 20px;
}

.whyChooseUs .child {
    display: flex;
    justify-content: space-evenly;
}

.whyChooseUs h1 {
    font-size: 80px;
    margin-bottom: 0px;
    text-align: center;
}

.features h1 {
    font-size: 80px;
    margin-bottom: 0px;
    text-align: center;
}

.features .child {
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
}

.features h2 {
    text-align: center;
    margin-bottom: 10px;
}

.features p {
    width: 300px;
    text-align: center;
    margin-top: 10px;
}

.features .img {
    width: 300px;
    text-align: center;
}

.trending h1 {
    font-size: 80px;
    margin-bottom: 0px;
    text-align: center;
}

.trending div {
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
}

.cta h1 {
    margin-bottom: 10px;
    font-size: 40px;
}

.cta {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    margin-top: 100px;
}

.cta p {
    margin: 0 0 10px 0;
    width: 500px;
    font-size: 23px;
}

.notifications {
    background-color: var(--primaryColor);
    color: white;
    margin-top: 100px;
    text-align: center;
    padding: 50px;
    border-radius: 60px;
}

.notifications h1 {
    font-size: 50px;
    margin-bottom: 10px;
}

.notifications div {
    text-align: center;
}

.notifications p {
    font-size: 27px;
    padding-inline: 300px;
    margin-top: 10px;
}

.notifications input {
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    outline: none;
    border: none;
    width: 300px;
    font-size: 20px;
}

.notifications .flexInputAndButton {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

footer img {
    width: 100px;
}

footer {
    text-align: center;
    margin-bottom: 50px;
    margin-top: 100px;
}

footer ul {
    justify-content: space-evenly;
    text-decoration: underline;
}

.depart {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 50px;
}

.departItmes {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.flightDetailOrder h1 {
    font-size: 40px;
    margin-bottom: 40px;
    text-align: center;
}

.depart .firstDiv {
    margin-left: 21%;
}

.buttonOfFlightDetails {
    text-align: center;
    margin-bottom: 30px;
}

iframe {
    height: 110vh !important;
}